<style>
div.cpw-form-sl-record
{
	width:500px;
	margin:0 auto;
}
div.cpw-form-sl-record input[model-selector="Дата"]
{
	width:95px;
}
div.cpw-form-sl-record div.sl label
{
	width:220px;
	display:inline-block;
}
div.cpw-form-sl-record div.sl
{
	margin-top:10px;
}
div.cpw-form-sl-record .select2-container
{
	margin-left:40px;
}
div.cpw-form-sl-record div.sl > div
{
	margin-left:20px;
}
div.cpw-form-sl-record div.sl > div > div
{
	margin-top:3px;
}
div.cpw-form-sl-record div.doc > div
{
	margin-left:20px;
}
div.cpw-form-sl-record div.doc > div > div
{
	margin-top:3px;
}
div.cpw-form-sl-record div.doc label
{
	width:80px;
	display:inline-block;
}
div.cpw-form-sl-record div.doc
{
	margin-top:10px;
	margin-bottom:20px;
}
div.cpw-form-sl-record input[model-selector="Регламентирующий_акт.Название"]
{
	width:370px;
}
div.cpw-form-sl-record input[model-selector="Регламентирующий_акт.Ссылка"]
{
	width:290px;
}
div.cpw-form-sl-record select.kvartal
{
	border:0;
}
</style>
<div class="cpw-form-sl-record">

	<div>
		Начиная с даты 
		<input type="text" value="<%= obj.txt('Дата') %>" <%= obj.date_attrs() %> /> 
		(<select class="kvartal">
			<option value=""></option>
			<% var kprefix= ['01.01','01.04','01.07','01.10'] %>
			<% for (var year= 2017; year<2031; year++) { %>
			<% for (var kv= 1; kv<5; kv++) { %>
			<option value="<%= kprefix[kv-1] %>.<%= year %>"
				><%= kv %> квартал <%= year %> года  </option>
			<% } } %>
		 </select>)
		<br/> 
		в регионе 
		<select <%= obj.select_attrs('Регион') %> >
			<%
				var regions= obj.options.regions;
				for (var i= 0; i < regions.length; i++)
				{
					var r= regions[i];
			%>
				<option <%= obj.option_attrs(r.Код_ОКАТО) %> ><%= r.Наименование %></option>
			<%	} %>
		</select> 
	</div>

	<div class="sl">
	размер прожиточного минимума составляет:

	<div>
	<div>
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('Прожиточный_минимум.Подушевой.Задан') %> /> 
			подушевой:
		</label>
		<input type="text" value="<%= obj.txt('Прожиточный_минимум.Подушевой.Значение') %>" /> 
		рублей
	</div>

	<div>
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('Прожиточный_минимум.Трудоспособных.Задан') %> /> 
			для трудоспособных:
		</label>
		<input type="text" value="<%= obj.txt('Прожиточный_минимум.Трудоспособных.Значение') %>" /> 
		рублей
	</div>

	<div>
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('Прожиточный_минимум.Пенсионеров.Задан') %> /> 
			для пенсионеров:
		</label>
		<input type="text" value="<%= obj.txt('Прожиточный_минимум.Пенсионеров.Значение') %>" /> 
		рублей
	</div>

	<div>
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('Прожиточный_минимум.Несовершеннолетних.Задан') %> /> 
			для несовершеннолетних:
		</label>
		<input type="text" value="<%= obj.txt('Прожиточный_минимум.Несовершеннолетних.Значение') %>" /> 
		рублей
	</div>

	</div>
	</div>

	<div class="doc">
	в соответствии с нормативно-правовым актом:
	<div>
	<div>
		<label>название:</label>
		<input type="text" value="<%= obj.txt('Регламентирующий_акт.Название') %>" />
	</div>

	<div>
		<label>дата:</label>
		<input type="text" value="<%= obj.txt('Регламентирующий_акт.Дата') %>" <%= obj.date_attrs() %> /> 
	</div>

	<div>
		<label>ссылка:</label>
		<input type="text" value="<%= obj.txt('Регламентирующий_акт.Ссылка') %>" /> 
		<button class="gotourl">Перейти</button>
	</div>

	</div>
	</div>

	<!--
	<label>
		<input type="checkbox" /> 
		Передавать информацию об используемом прожиточном минимуме на сервер РИТ
	</label>
	-->

	<div>
		Информация клиента по договору: 
		<a href="#null">3455</a> 
		<button>Опубликовать всем</button>
	</div>

</div>