<style>
div.cpw-form-ajax-request
{
	padding:10px;
	color:#444; /*#2e6e9e;*/
	background-color:#fafafa;
}
div.cpw-form-ajax-request img
{
	display: inline-block;
	/* float:left; */
	margin-right:10px;
	margin: 0 20px 0 10px;
	vertical-align: middle;
}
div.cpw-form-ajax-request div.timestart
{
	margin-bottom:10px;
}
div.cpw-form-ajax-request div.footer
{
	margin-top:10px;
}
div.cpw-form-ajax-request div.help
{
	color:#828282; /*#81aac8;*/
}
div.cpw-form-ajax-request div.main
{
	font-size: 14px;
	width:475px;
	display:inline-block;
	vertical-align: middle;

}
</style>
<div class="cpw-form-ajax-request">
	<div class="timestart">
		<%= obj.timestart.toLocaleString() %><% if (0) { %>13 июня 2019 г. 17:43:08<% } %> 
		&ndash; начали отправку ajax запроса. 
	</div>

	<img src="img/loading-spinner.gif" alt="время" width="55px" height="55px" />

	<div class="main">
		<b><%= obj.request %><% if (0) { %>Отправка подписи<% } %>..</b>

		<div class="help">
			Пожалуйста, подождите завершения запроса.<br/> 
			Форма закроется сама, когда станет ясно, чем завершился запрос.<br/> 
			Закрытие формы до завершения запроса может привести к ошибкам.<br/>
		</div>
	</div>

	<div class="footer">
		<span class="time"><%= (new Date()).toLocaleString() %><% if (0) { %>13 июня 2019 г. 17:43:08<% } %></span> 
		&ndash; запрос ещё не завершён, а прошло <span class="seconds">0 секунд</span>. 
	</div>
</div>