<style>
div.cpw-form-sl-table
{
	width:1000px;
	margin:0 auto;
}
div.cpw-form-sl-table div.right
{
	float: right;
	display:inline-block;
}
div.cpw-form-sl-table div.nav-pane
{
	width:100%;
	display:inline-block;
	margin-bottom:5px;
}
div.cpw-form-sl-table div.nav-pane div.title
{
	padding-top:10px;
	display:inline-block;
}
</style>
<div class="cpw-form-sl-table">

	<div class="nav-pane">
		<div class="title">Прожиточные минимумы:</div>
		<div class="right">
			<a href="#" class="button edit" style="display: none">Редактировать</a>
			<a href="#" class="button remove" style="display: none">Удалить</a>
			<a href="#" class="button add">Добавить</a>
		</div>
	</div>

	<table id="cpw-form-sl-grid" class="grid"></table>
	<div id="cpw-form-sl-grid-pager"></div>

</div>